[submodule "micrium-os-base"]
	path = micrium-os-base
	url = https://github.com/SijWoo/micrium-os-base.git
[submodule "freertos-base"]
	path = freertos-base
	url = https://github.com/SijWoo/freertos-base.git
[submodule "micrium-fs-base"]
	path = micrium-fs-base
	url = https://github.com/SijWoo/micrium-fs-base.git
[submodule "micrium-usb-drivers"]
	path = micrium-usb-drivers
	url = https://github.com/SijWoo/micrium-usb-drivers.git
